*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
jboss-as-7.1.1.Final/standalone/log/*
jboss-as-7.1.1.Final/standalone/tmp
apache-tomee-jaxrs-1.6.0/logs/*
.metadata
RemoteSystemsTempFiles
Java_PayPalCheckout/target
Java_PayPalCheckout/.project
Java_PayPalCheckout/.classpath
Java_PayPalCheckout/.settings
PayPalAuthService/target
PayPalAuthService/.project
PayPalAuthService/.classpath
PayPalAuthService/.settings

.classpath
.project
.settings

